<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

</head>
<body>


    <button id="button">서버에게 값을 보냄</button>

    <script>

        $("#button").click(function (){
            $.ajax({
                url:"/test",
                data:{name:"james"},
                type:"GET",
                success:function (response) {
                    $("#result").html(response);
                    alert(response);
                }
            });
        });

    </script>

</body>
</html>